In [ ]:
# Variables

In [2]:
# Create a variable called break and assign it a value 5. See what happens and find out  the reason
# behind the behaviour that you see.
#break = 5
##         gives invalid syntax

In [4]:
# Create two variables. One to store your birth year and another one to store current year. Now Calculate
# your age ysing two variables

birth_year = 1998
current_year = 2024
current_age = birth_year-current_year

print(current_age)

-26

In [7]:
# Store your first, middle and last name in three different variables and then print your full name using three variables

first_name = "Archana"
second_name = "Sathiya"
third_name = "seelan"

print("Your name is: " +first_name+" " +second_name+ " " +third_name)

Your name is: Archana Sathiya seelan

In [9]:
# Answer which of these are invalid variable names:  _notion, 1record, record1, record_one,record-one,
#recor^one, continue

#answer
#1record = first letter for variable declaration always starts with character and then number
# continue = is the special key  or character word that is already stored in the system
#record-one = no special character called be used to declare variable except underscore

In [1]:
#Numbers

In [6]:
# 1. You have a football field that is 92 meter long and 48.8 meter wide. Find the total area using python and print it
height = 92
width = 48.8
area = height*width
print("The total area of football is:", area)

The total area of football is: 4489.599999999999

In [9]:
#2. You bought 9 packets of potato chips from a store, Each packet costs 1.49 dollar and you gave shopkeeper 20 dollar
# Find out using python how many dollars is the shopkeeper going to give you back?
num_packet = 9
cost_per_each = 1.49
totalcost = num_packet*cost_per_each
money_paid = 20
cashback = money_paid-totalcost
print("The shopkeeper returns you", cashback)

The shopkeeper returns you 6.59

In [11]:
#3. You want to replace titles in your bathroom which is exactly square and 5.5 feet is its length.
#If titles cost 500rs per square feet. How much will be the total cost to replace all titles. Calculate
#and print the cost using python
# use power operator (**) to find area of the square

length = 5.5
area = length**2
totalcost = 500*area
print("The Total cost for bathroom titles replacement:", totalcost)

The Total cost for bathroom titles replacement: 15125.0

In [14]:
# 4. Print binary representation of number 17

num = 17
print("Binary of number 17: ", format(num, 'b'))

Binary of number 17:  10001

In [15]:
#Strins

In [19]:
#1. Create 3 variables to store street, city and country, now create address variable to store entire address.
#Use two ways of creating this variable. one using + operator  and other is f-string 
#Now print the address in such a way that the street , city and country prints in a separate variable

street = "# 87 nuskam C block"
city = "Bangalore"
country = "India"
address = street+ '\n' +city+ '\n' +country
print("The Address using + operator is ", address)
Address = f'{street}\n{city}\n{country}'
print("The Address using f-string operator is ", Address)

The Address using + operator is  # 87 nuskam C block
Bangalore
India
The Address using f-string operator is  # 87 nuskam C block
Bangalore
India

In [29]:
#2.
string = "Earth revolves around the sun"
print(string[6:14]) # using slice operator
print(string[-3:]) # using negative index

revolves
sun

In [33]:
#3
numfruits = 20
numveg = 10
print(f' I eat {numveg} veggis and {numfruits} fruits daliy')

 I eat 10 veggis and 20 fruits daliy

In [39]:
# this gives error
string = "I ate 200 bananas"
s = string.replace('bananas', 'samosa')
s = string.replace('200', '10')
print("Statement using two lines:", s)

Statement using two lines: I ate 10 bananas

In [40]:
string = "I ate 200 bananas"
s = string.replace('200', '10').replace('bananas', 'samosa')
print("Statement using two lines:", s)

Statement using two lines: I ate 10 samosa

In [41]:
#lists

In [50]:
#1. Let us say your expense for every month are listed below
# jan-2200, feb-2350, mar-2600, april -2130 May -2100 create list
# a. in feb, how many dollars you spent extra compare to january?
a = [2200, 2350, 2600, 2130, 2100]
print("In feb this much extra was spent compare to jan:", a[1]-a[0])

# b. find out total expense in first quarter (first three months) of the year
print("The total expense in first quarter is:", a[0]+a[1]+a[2])

# c. Find out if you spent exactly 2000 dollars in any month
print("Did i spent 2000$ in any month:", 2000 in a)

#d.  June month just finished and your expense is 1980 dollar. Add this to your expense list
a.append(1980)
print("Expenses at the end of june:", a)

#e. e. You retured an item that you brought in amonth of arpil end got return 200$ 
#make a correction to your monthly expense list
a[3] = a[3]-200
print("Expense list after return of 200#:", a)

In feb this much extra was spent compare to jan: 150
The total expense in first quarter is: 7150
Did i spent 2000$ in any month: False
Expenses at the end of june: [2200, 2350, 2600, 2130, 2100, 1980]
Expense list after return of 200#: [2200, 2350, 2600, 1930, 2100, 1980]

In [58]:
#2. 
heros = ['spider man', 'thor', 'hulk', 'iron man', 'captain america']
# a. find the length
print(len(heros))

#b
heros.append('black pather')
print(heros)

#c.
heros.remove('black pather')
heros.insert(3,'balck pather')
print(heros)

#4. 
# heros[1:3]='doctor strange' ['d' 'o'] it prints character by character so use list
heros[1:3]=['doctor strange']
print(heros)

#5. 
heros.sort()
print(heros)

5
['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black pather']
['spider man', 'thor', 'hulk', 'balck pather', 'iron man', 'captain america']
['spider man', 'doctor strange', 'balck pather', 'iron man', 'captain america']
['balck pather', 'captain america', 'doctor strange', 'iron man', 'spider man']

In [59]:
#if condition

In [63]:
#i. Write a program that asks to enter a city name it should  tell which country the city belongs to

india = ['mumbai', 'chennai', 'delhi']
pakistan = ['lahore', 'karachi', 'islambad']
bangladesh = ['dhaka', 'khulna', 'rangpur']

city = input("Enter your city:")

if city in india:
    print(f'{city} is in india')
elif city in pakistan:
    print(f'{city} is in pakistan')
elif city in bangladesh:
    print(f'{city} is in bangladesh')
else:
    print(f'I could not figuare it out your {city}')

Enter your city: rangpur

rangpur is in bangladesh

In [65]:
#ii Write a program that asks user to enter two cities and it tells you if they both are in same country or not.
# For example if i enter mumbai and chennai. it will print "Both cities are in india  else not  the same
india = ['mumbai', 'chennai', 'delhi']
pakistan = ['lahore', 'karachi', 'islambad']
bangladesh = ['dhaka', 'khulna', 'rangpur']

city1 = input("Enter your 1 city:")
city2 = input("Enter your 2 city:")

if city1 in india and city2 in india:
    print(f'Both the cities are in india')
elif city1 in pakistan and city2 in pakistan:
    print(f'Both the cities are in pakistan')
elif city1 in bangladesh and city2 in bangladesh:
    print(f'Both the cities are in bangladesh')
else:
    print(f"They don't belong to same country")

Enter your 1 city: chennai
Enter your 2 city: chennai

Both the cities are in india

In [67]:
#2.
sugar = input("Enter your sugar level is: ")
sugar = float(sugar)
if sugar<80:
    print("Your sugar level is low, please consume some sweets")
elif sugar >100:
    print("your sugar level is high, please stop eating sweets")
else:
    print("Your sugar level is normal, you can enjoy your level be please be healthly")

Enter your sugar level is:  20

Your sugar level is low, please consume some sweets

In [1]:
#For loop

In [16]:
#1. How many have heads 
result = ["heads","tails","tails","heads","tails","heads","tails","tails","heads","tails",]
count = 0
for item in result:       
    if item == "heads":
        count += 1  
         
print("No of heads are", count)

No of heads are 4

In [22]:
#2 Print square of all numbers bet 1 to 10 except even numbers
for i in range(1, 11):
    if i % 2 == 0:
        continue
    print(i*i)  

#2 Print square of all numbers bet 1 to 10 except odd numbers
for i in range(1, 11):
    if i % 2 == 1:
        continue
    print(i*i)

1
9
25
49
81
4
16
36
64
100

In [33]:
#3. program to ask expense money wheather you spent or not
month_list = ["January", "February","March", "April", "May",]
expense_list = [2340, 2500, 2100, 3100, 2980]
e = input("Enter expense amount: ")
e = int(e)
month = -1

for i in range(len(expense_list)):
    if e == expense_list[i]:
        month = i
        break
        

if month != -1:
    print(f"You spent {e} in {month_list[month]}")
else:
    print(f"You didn't spend {e} in any month")

Enter expense amount:  2500

You spent 2500 in February

In [41]:
# 4. 
for i in range(5):
    print(f"You ran {i+1} miles") # i starts with zero hence adding 1
    tired = input ("Are you tired? ")
    if tired == 'yes':
        break

if i == 4:  # 4 because the index starts from 0
    print("Hurryy! You are a rock star! you just finished 5 km race!")
else:
    print("You didn't finish 5 km but hey congrats anyways! you still ran {i+1} miles")

You ran 1 miles

Are you tired?  no

You ran 2 miles

Are you tired?  no

You ran 3 miles

Are you tired?  no

You ran 4 miles

Are you tired?  no

You ran 5 miles

Are you tired?  no

Hurryy! You are a rock star! you just finished 5 km race!

In [50]:
for i in range(1, 6):
    s = ''
    for j in range(i):
        s  '*'
    print(s)

*
**
***
****
*****

In [62]:
# functions
def print_pattern(n=5):
    for i in range(n):
        s = ''
        for j in range(i+1):
             s = s + '*'
        print(s)

print("print pattern with input=3")
print_pattern(3)
print("print pattern with input=4")
print_pattern(4)
print("print pattern with no input number")
print_pattern() # uses the default input

print pattern with input=3
*
**
***
print pattern with input=4
*
**
***
****
print pattern with no input number
*
**
***
****
*****

In [63]:
# 2 calcuating area of triangle using functions
def calculate_area(dimension1, dimension2, shape="triangle"):
    if shape == "triangle":
        area = 1/2*(dimension1*dimension2) 
    elif shape == "rectangle":
        area = dimension1 * dimension2 # Rectangle area is: length*width
    else:
        print("Error: Input shape is niether triangle nor rectangle:")
        area= None 
    return area


base = 10
height = 5
triangle_area = calculate_area(base, height, "triangle")
print("Area of triangle is: ", triangle_area)

Area of triangle is:  25.0

In [68]:
# 2 calcuating area of triangle without supplying shape argument in afunction call
def calculate_area(dimension1, dimension2, shape="triangle"):
    if shape == "triangle":
        area = 1/2*(dimension1*dimension2) 
    elif shape == "rectangle":
        area = dimension1 * dimension2 # Rectangle area is: length*width
    else:
        print("Error: Input shape is niether triangle nor rectangle:")
        area= None 
    return area


base = 20
height = 10
triangle_area = calculate_area(base, height) # here is third argument is missing
print("Area of triangle is: ", triangle_area)

Area of triangle is:  100.0

In [65]:
# 3 calcuating area of rectangle using functions
def calculate_area(dimension1, dimension2, shape="triangle"):
    if shape == "triangle":
        area = 1/2*(dimension1*dimension2) 
    elif shape == "rectangle":
        area = dimension1 * dimension2 # Rectangle area is: length*width
    else:
        print("Error: Input shape is niether triangle nor rectangle:")
        area= None 
    return area


length = 20
width = 10
rectangle_area = calculate_area(length, width, "rectangle")
print("Area of rectangle is: ", rectangle_area)

Area of rectangle is:  200

In [69]:
#dict_tuples

In [99]:
#1. Country_poplution rint, add, remove, ask quires
population = {
    'china': 143,
    'india': 180,
    'usa': 32,
    'pakistan':21
}

def print_all():
    for country, p in poplution.items():
        print(f"{country}==>{p}")

def add():
    country = input("Enter country name to add:")
    country = country.lower()
    if country in population:
        print("Country already exist in our dataset. Terminating")
        return
    p = input(f"Enter poplution for {country}")
    p=float(p)
    population[country] = p #Adds new key pair to dictionary
    print_all()

def remove():
    country = input("Enter country name to remove:")
    country = country.lower()
    if country not in population:
        print("Country doesn't exist in our dataset. Terminating")
        return
    del population[country]   #Adds new key pair to dictionary
    print_all()

def query():
    country = input("Enter country name to query:")
    country = country.lower()
    if country not in population:
        print("Country doesn't exist in our dataset. Terminating")
        return
    print(f"Population of {country} is: {population[country]} crore")

def main():
    op = input("Enter operation (add, rempove, query or print):")
    if op.lower() == 'add':
        add()
    elif op.lower() == 'remove':
        remove()
    elif op.lower() == 'query':
        query()
    elif op.lower() == 'print':
        print_all()

if __name__ == '__main__':
    main()

china==>143
india==>180
usa==>32
pakistan==>21

Enter operation (add, rempove, query or print): remove
Enter country name to remove: usa

china==>143
india==>180
usa==>32
pakistan==>21

In [97]:
#2 
import statistics

stocks = {
    'info': [600, 630, 620],
    'rtl': [1430, 1490, 1567],
    'mtl':[234, 180, 160]
}

def print_all():
    for stock, price_list in stocks.items():
        avg = statistics.mean(price_list)
        print(f"{stock} ==> {price_list} ==> avg: ", round(avg, 2))

def add():
    s = input("Enter a stock ticker to add:")
    p = input("Enter price of this stock:")
    p=float(p)
    if s in stocks:
        stocks[s].append(p)
    else:
        stocks[s] = [p]
    print_all()    
        
def main():
    op = input("Enter operation (print, add or amend): ")
    if op.lower() == 'print':
        print_all()
    elif op.lower() == 'add':
        add()
    else:
        print("Unsupported operation: ", op)

if __name__ == '__main__':
    main()

Enter operation (print, add or amend):  add
Enter a stock ticker to add: info
Enter price of this stock: 450

info ==> [600, 630, 620, 450.0] ==> avg:  575.0
rtl ==> [1430, 1490, 1567] ==> avg:  1495.67
mtl ==> [234, 180, 160] ==> avg:  191.33

In [101]:
#3
import math

def circle_calc(radius):
    area = math.pi*(radius**2)
    circumference=2*math.pi*radius
    diameter = 2*radius
    return area, circumference, diameter

if __name__ == '__main__':
    r = input("Enter a radius: ")
    r = float(r)
    area, c, d = circle_calc(r)
    print(f"area {area}, circumference {c}, diameter {d}")

Enter a radius:  5

area 78.53981633974483, circumference 31.41592653589793, diameter 10.0

In [ ]:
#read, write files

In [108]:

word_stats = {}

with open("poem.txt", "r") as f:
    for line in f:
        words = line.split(' ')
        for word in words:
            if word in word_stats:
                word_stats[word]+=1
            else:
                word_stats[word]=1

print(word_stats)

word_occurances = list(word_stats.values())
max_count = max(word_occurances)
print("Max occurances of any word is: ", max_count)

print("Word with max occurances are: ")
for word, count in word_stats.items():
    if count==max_count:
        
        print(word)

{'Two': 1, 'roads': 1, 'diverged': 1, 'in': 2, 'ayellow': 1, 'wood,\n': 1, 'And': 2, 'sorry': 1, 'I': 3, 'could': 2, 'not': 1, 'travel': 1, 'both\n': 1, 'be': 1, 'one': 2, 'traveler,long': 1, 'stood\n': 1, 'and': 1, 'looked': 1, 'down': 1, 'as': 1, 'far': 1, '\n': 1, 'To': 1, 'where': 1, 'it': 1, 'bent': 1, 'the': 1, 'undergrowth;': 1}
Max occurances of any word is:  3
Word with max occurances are:
I

In [1]:
#2
with open("stocks.csv", "r") as f, open("output.csv", "w") as out:
    out.write("Company Name,PE Ratio, PB Ratio\n")
    next(f)  # This will skip first line in the file which is a header
    for line in f:
        tokens = line.split(",")
        stock = tokens[0]
        price = float(tokens[1])
        eps = float(tokens[2])
        book = float(tokens[3])
        pe = round(price / eps, 2)
        pb = round(price / book, 2)
        out.write(f"{stock},{pe},{pb}\n")

In [2]:
# multiple inheritance

In [3]:
class Teacher:
    def teachers_action(self):
        print("I can teach")


class Engineer:
    def Engineers_action(self):
        print("I can code")


class Youtuber:
    def youtubers_action(self):
        print("I can code and teach")


class Person(Teacher, Engineer, Youtuber):
    pass


coder = Person()
coder.teachers_action()
coder.Engineers_action()
coder.youtubers_action()

I can teach
I can code
I can code and teach

In [4]:
# for making exception just make subclass of Exception
class AdultException(Exception):
    pass


class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def get_minor_age(self):
        if int(self.age) >= 18:
            raise AdultException
        else:
            return self.age

    def display(self):
        try:
            print(f"age -> {self.get_minor_age()}")
        except AdultException:
            print("Person is an adult")
        finally:
            print(f"name -> {self.name}")


# No exception
Person("Bhavin", 17).display()

# AdultException is raised
Person("Dhaval", 23).display()

age -> 17
name -> Bhavin
Person is an adult
name -> Dhaval

In [5]:
#iterations

In [6]:
class Fibonacci:
    def __init__(self, limit):
        # default constructor
        self.previous = 0
        self.current = 1
        self.n = 1
        self.limit = limit

    def __iter__(self):
        return self

    def __next__(self):
        if self.n < self.limit:
            result = self.previous + self.current
            self.previous = self.current
            self.current = result
            self.n += 1
            return result
        else:
            raise StopIteration


# init the fib_iterator
fib_iterator = iter(Fibonacci(5))
while True:
    # print the value of next fibonacci up to 5th fibonacci
    try:
        print(next(fib_iterator))
    except StopIteration:
        break

1
2
3
5

In [7]:
#multithreading

In [8]:
import time
import threading
from threading import Thread

def sleepMe(i):
    print("Thread %i will sleep." % i)
    time.sleep(5)
    print("Thread %i is awake" % i)

for i in range(10):
    th = Thread(target=sleepMe, args=(i, ))
    th.start()
    print("Current Threads: %i." % threading.active_count())

Thread 0 will sleep.Current Threads: 10.

Thread 1 will sleep.
Current Threads: 11.
Thread 2 will sleep.
Current Threads: 12.
Thread 3 will sleep.
Current Threads: 13.
Thread 4 will sleep.
Current Threads: 14.
Thread 5 will sleep.
Current Threads: 15.
Thread 6 will sleep.
Current Threads: 16.
Thread 7 will sleep.
Current Threads: 17.
Thread 8 will sleep.
Current Threads: 18.
Thread 9 will sleep.
Current Threads: 19.
Thread 0 is awake
Thread 1 is awake
Thread 2 is awake
Thread 3 is awake
Thread 4 is awake
Thread 5 is awake
Thread 7 is awake
Thread 6 is awake
Thread 9 is awake
Thread 8 is awake